.modal-header {
    background-color: #0a84f7f6;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-family: cursive;
}

.modal-body {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;
    font-family: cursive;
}

.modal-footer {
    padding-top: 1px;
    padding-bottom: 1px;
}